<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>army_display_1002.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_101.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{264,1},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_1202.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,162},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_1203.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{162,264},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_1302.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{425,1},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_1402.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{425,264},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_1502.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,425},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_1503.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{162,425},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_1701.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{323,527},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_1702.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,688},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_1801.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{264,688},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_201.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{527,688},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_301.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{586,1},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_401.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{586,264},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_501.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{747,1},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_601.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{586,425},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_701.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{790,586},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_702.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{849,260},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_801.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,849},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_display_902.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{264,849},{259,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,157}}</string>
			<key>sourceSize</key>
			<string>{259,157}</string>
		</dict>
		<key>army_head_1002.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,162},{100,94}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,94}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_1202.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,933},{100,74}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{100,74}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_1203.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,577},{100,70}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{100,70}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_1302.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,681},{100,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{100,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_1402.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,849},{100,80}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,11},{100,80}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_1502.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,849},{100,76}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{100,76}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_1503.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,931},{100,76}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,17},{100,76}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_1701.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,586},{100,90}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{100,90}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_1702.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,937},{100,74}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{100,74}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_1801.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,162},{96,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{96,92}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_702.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,849},{100,84}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{100,84}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_801.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,849},{100,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,11},{100,78}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>army_head_902.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,162},{100,92}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,92}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>def_10000_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,523},{72,50}}</string>
			<key>offset</key>
			<string>{-1,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,46},{72,50}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>def_11100_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,523},{42,92}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,1},{42,92}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>def_13100_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,785},{100,62}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{100,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>def_14100_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,953},{68,64}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,34},{68,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>def_16100_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,586},{82,80}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,20},{82,80}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>def_17100_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,425},{80,94}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,6},{80,94}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>def_38100_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,889},{62,76}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,24},{62,76}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>def_9100_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,162},{82,60}}</string>
			<key>offset</key>
			<string>{3,-20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,40},{82,60}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>army_head_1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>army_head_1.png</string>
	</dict>
</dict>
</plist>
