<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>act1_month_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,104},{331,278}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,80},{331,278}}</string>
			<key>sourceSize</key>
			<string>{331,440}</string>
		</dict>
		<key>act4_group_bg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,516},{390,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{390,108}}</string>
			<key>sourceSize</key>
			<string>{390,108}</string>
		</dict>
		<key>act4_group_bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{700,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{700,99}}</string>
			<key>sourceSize</key>
			<string>{700,99}</string>
		</dict>
		<key>act4_group_gift_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,104},{324,348}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{324,348}}</string>
			<key>sourceSize</key>
			<string>{324,348}</string>
		</dict>
		<key>act_fortress_bg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,582},{262,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,110}}</string>
			<key>sourceSize</key>
			<string>{262,110}</string>
		</dict>
		<key>act_fortress_bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,910},{352,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{352,110}}</string>
			<key>sourceSize</key>
			<string>{352,110}</string>
		</dict>
		<key>act_fortress_bg3.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,386},{287,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,99}}</string>
			<key>sourceSize</key>
			<string>{287,99}</string>
		</dict>
		<key>act_fortress_bg4.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,489},{284,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,73}}</string>
			<key>sourceSize</key>
			<string>{284,73}</string>
		</dict>
		<key>act_fortress_bg5.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,516},{284,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,62}}</string>
			<key>sourceSize</key>
			<string>{284,62}</string>
		</dict>
		<key>act_fortress_btn1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,432},{165,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,78}}</string>
			<key>sourceSize</key>
			<string>{165,78}</string>
		</dict>
		<key>act_fortress_btn2.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,432},{165,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,78}}</string>
			<key>sourceSize</key>
			<string>{165,78}</string>
		</dict>
		<key>act_fortress_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,386},{59,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,52}}</string>
			<key>sourceSize</key>
			<string>{59,52}</string>
		</dict>
		<key>act_fortress_health.png</key>
		<dict>
			<key>frame</key>
			<string>{{1017,1},{263,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,5}}</string>
			<key>sourceSize</key>
			<string>{263,5}</string>
		</dict>
		<key>act_fortress_health2.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,104},{267,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,9}}</string>
			<key>sourceSize</key>
			<string>{267,9}</string>
		</dict>
		<key>act_fortress_info.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,449},{55,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,52}}</string>
			<key>sourceSize</key>
			<string>{55,52}</string>
		</dict>
		<key>act_fortress_weapon.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,508},{26,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,54}}</string>
			<key>sourceSize</key>
			<string>{26,54}</string>
		</dict>
		<key>shopmall_yilianzhongwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,1},{308,511}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,511}}</string>
			<key>sourceSize</key>
			<string>{308,511}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>activity_0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>activity_0.png</string>
	</dict>
</dict>
</plist>
